/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-mono-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand: #1b6530;
  --color-brand-darker: #165428;
  --color-1: #32b959;
  --color-2: #e62412;
  --color-3: #fadd00;
  --color-bg: #fffefa;

  --color-bin_green: color-mix(in srgb, var(--color-1), transparent 70%);
  --color-bin-red: color-mix(in srgb, var(--color-2), transparent 70%);
  --color-bin-yellow: color-mix(in srgb, var(--color-3), transparent 70%);

  --color-grey-1: #f0f6f5;
  --color-grey-2: #dde7e6;
  --color-grey-3: #b9c6c5;
  --color-grey-4: #8fa3a1;
  --color-grey-5: #4d5b5a;
  --color-grey-6: #182024;

  --box-shadow: #4d5b5a 3px 3px 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
main {
  flex: 1;
  position: relative;
  --fall-distance: 600px; /*fallback*/
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--color-bg);
  min-height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p,
li {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--color-grey-6);
}
.nav-items li {
  padding: 0.1rem 0.5rem;
  border: 0.5px solid var(--color-bg);
}
.nav-items li:hover {
  border: 0.5px solid var(--color-1);
  background-color: var(--color-3);
  border-radius: 5px;
}

/* main navigation */
.logo-container {
  max-width: 250px;
}
.nav-items {
  min-width: fit-content;
  color: var(--color-brand-darker);
  margin: 0;
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
.current-page {
  border-bottom: 2px solid var(--color-2);
}
.nav-main,
.nav-footer {
  align-items: center;
}
.nav-main .nav-items {
  display: none;
}
.nav-main .nav-items a {
  color: var(--color-brand-darker);
}
.nav-dropdown {
  border: 1px solid var(--color-1);
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  border-radius: 15px;
}
.nav-dropdown-list {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.hidden {
  display: none;
}

/* hamburger menu */
#hamburger {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 6px;
  z-index: 9999;
}
#hamburger-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
  border: 1px solid var(--color-1);
  border-radius: 15px;
  padding: 2rem;
  padding-top: 4rem;
  box-shadow: var(--box-shadow);
}
.hb-section {
  margin-bottom: 2rem;
  border-bottom: 0.5px solid var(--color-grey-6);
  padding-bottom: 2rem;
}
.hb-section li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hb-section a {
  color: var(--color-brand-darker);
}
.hb-section ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  margin-top: 0.6rem;
}
.pp {
  border-bottom: none;
  padding-bottom: 0;
}
.line {
  height: 5px;
  background-color: var(--color-brand-darker);
  border-radius: 5px;
}

/* clock and search */
.top-components {
  display: flex;
  justify-content: center;
}
#clock {
  color: var(--color-1);
  font-size: 2rem;
  background-color: var(--color-grey-6);
  padding: 0.1rem 0.7rem;
  border-radius: 10px;
  box-shadow: inset 2px 2px 10px 6px rgb(23, 23, 24);
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
}
.clock-container {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.search-container {
  position: absolute;
  right: 2rem;
  background-color: var(--color-3);
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  min-width: 13rem;
}
#search {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  color: var(--color-grey-6);
}

/* home page */
.section-home {
  padding-bottom: 4rem;
}
.tagline {
  margin-bottom: 2rem;
}
.grid-container-home {
  display: grid;
  gap: 2rem;
  max-width: 60rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
  margin: 0 auto;
}
.card-home {
  background-color: #ffffff;
  width: 100%;
  min-height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-1);
  border-radius: 15px;
  z-index: 9999;
}
.card-active {
  background-color: var(--color-3);
}
.card-home > :first-child {
  font-size: 1.1rem;
  color: var(--color-brand-darker);
}
.nav-main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
/* PAGES */

.layout-2col {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  padding: 2rem;
}
.section-main h1 {
  color: var(--color-brand-darker);
  text-align: center;
  font-size: 2.5rem;
  background-color: var(--color-3);
  padding: 1rem;
  margin-bottom: 2rem;
}
.layout-2col h2 {
  margin-bottom: 1rem;
  color: var(--color-brand-darker);
}
.text-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.img-section-container {
  max-width: 100%;
}
.img-section {
  width: 100%;
  height: auto;
}
.text-under-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.text-under-image h2 {
  margin-top: 2rem;
  margin-bottom: 0;
}
.text-under-image li {
  line-height: 1.5rem;
}
.text-under-image ul {
  padding: 0 2rem;
}
.text-box {
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #ffffff;
}
.text-box h3 {
  color: var(--color-brand-darker);
}
.article {
  border: 1px solid var(--color-1);
}
.col-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* household recycling */
.bin-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}
.image-bin-container {
  max-width: 200px;
  height: auto;
}
.image-bin {
  width: 100%;
  height: auto;
}
.red-bin-text-container {
  border: 2px solid var(--color-2);
}
.yellow-bin-text-container {
  border: 2px solid var(--color-3);
}
.green-bin-text-container {
  border: 2px solid var(--color-1);
}
.waste-type {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--color-grey-6);
}
.bin-item {
  list-style-type: none;
  margin-bottom: 0.2rem;
  padding: 0.2rem 2rem;
  border-radius: 5px;
}
.bin-red {
  background-color: var(--color-bin-red);
}
.bin-yellow {
  background-color: var(--color-bin-yellow);
}
.bin-green {
  background-color: var(--color-bin_green);
}

/* about us */
.about-us,
.contact-us {
  height: 100%;
  padding: 3rem;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-us p {
  color: var(--color-grey-5);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.image-about-us,
.image-contact-us {
  /* height: 25rem; */
  margin-top: -2rem;
}
.section-about .layout-2col {
  margin-top: -10rem;
}
.section-contact .layout-2col {
  margin-top: -4rem;
}

/* contact */

.image-contact img {
  object-fit: cover;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-form textarea {
  height: 6rem;
  resize: none;
}
.contact-form textarea,
.contact-form input {
  padding: 0.3rem;
  color: var(--color-grey-6);
  border: 0.5px solid var(--color-grey-4);
  border-radius: 5px;
  background-color: var(--color-grey-1);
}

/* document pages */
.document {
  margin: 2rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 4rem;
  color: var(--color-brand-darker);
}
.document div {
  max-width: 46rem;
}
.document h2 {
  margin-bottom: 1rem;
}

/* footer */
.nav-footer {
  width: 100%;
  padding: 1rem 2rem;
  border-top: 0.5px solid var(--color-1);
  background-color: var(--color-bg);
}
.nav-footer .nav-items a {
  color: var(--color-grey-6);
}

/* ANIMATION */

/* big bottle styles */
.cls-1 {
  fill: #1b6530;
}
.cls-2 {
  fill: #264e2c;
}
.cls-3 {
  fill: #32653a;
}
.cls-4 {
  fill: #165428;
}

/* bottle animation */
#container {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -999;
}
.bottle {
  position: absolute;
  background-image: url("images/bottle.svg");
  background-repeat: no-repeat;
  top: -400px;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  animation: fall 0.7s linear 1 forwards;
  animation-iteration-count: 1;
  z-index: -999;
}

@keyframes fall {
  from {
    transform: translate(-50%, -100px);
  }
  to {
    transform: translate(-50%, calc(100vh + 20px));
  }
}

/* conveyer bottles  */
.conveyer-animation {
  display: flex;
  position: relative;
  min-width: fit-content;
  animation: conveyer 25s linear 1 forwards;
  animation-iteration-count: infinite;
}
.conv-bottle {
  position: relative;
  background-image: url("images/bottle.svg");
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  top: 0;
}
.b1 {
  transform: translateY(-0.2rem) rotate(-22deg);
}
.b2 {
  transform: translateY(0.7rem) rotate(-112deg);
}
.b3 {
  transform: translateY(-0.2rem) translateX(-1.1rem) rotate(-80deg);
}
.b4 {
  transform: translateY(-0.3rem) rotate(-24deg);
}
.b5 {
  transform: translateY(2rem) rotate(63deg);
}
.b6 {
  transform: translateX(2.4rem) translateY(0.5rem) rotate(20deg);
}
.conv-a2z {
  position: relative;
  background-image: url("images/a2z.svg");
  background-repeat: no-repeat;
  width: 6rem;
  height: 4rem;
  top: 1.1rem;
}

@keyframes conveyer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
/* border: 1px solid black; */

/* media queries */
@media screen and (min-width: 820px) {
  .nav-main .nav-items {
    display: flex;
  }
  #hamburger {
    display: none;
  }
  #hamburger-dropdown {
    display: none;
  }
}

@media screen and (min-width: 871px) {
  .bin-list {
    max-height: 120vh;
    overflow: scroll;
  }
  .section-about .layout-2col {
    margin-top: -25rem;
  }
  .section-contact .layout-2col {
    margin-top: -6rem;
  }
}
